[data-section-theme="dark"] {
  --text-color: #ffffff; /* Redefine text-color to color-white */
  --section-title-color: #ffffff; /* Redefine section-title-color to color-white */
  background-color: #090909; /* Set the background to color-black */
}
